<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Register</h2>
  <div class="text-right">
    <a href="/" class="btn btn-info">Home</a>
    <a href="/login" class="btn btn-success">Login</a>
  </div>
    <% 
    var message = query.message 
    if (message) { %>
  <div class="alert alert-warning alert-dismissible  show" role="alert">
    <strong>Holy guacamole!</strong> <%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <% } %>
  <form method="POST" action="/user/register">
    <%- include('_formcomponent') %>
  </form>
</div>

</body>
</html>
