<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Hi, <%= user.username %> </h2>
  <div class="card">
    <a href="/" class="btn btn-info col-sm-1">Home</a>
    <form class="col-sm-3" action="/user/logout" method="POST">
        <button class="btn btn-danger col-sm-4" type="submit">Logout</button>
    </form>
  </div>
  <div class="col-sm-11">
    <h3>Welcome</h3>
  </div>

</div>

</body>
</html>
